<form class="ui stacked segment top aligned form" action="/about/addcomment" method="POST">
   <div class="field">
      <label>We welcome your feedback on the app</label>
      <input placeholder="Type your comments here" type="text" name="feedback" autofocus required>
   </div>
   <button class="ui blue submit button">Add Comment</button>
</form>