<form class="ui stacked segment form" action="/playlist/addplaylist" method="POST">
  <div class="three inline fields">
    <div class = "eight wide field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <div class="four wide field">
    <label>Genre</label>
    <input placeholder="Genre" type="text" name="genre" autofocus required>
  </div>
  <div class=" four wide field">
    <label>Host</label>
    <input placeholder="Host" type="text" name="host" autofocus required>
  </div>
  </div>
</form>
 <div class = "middle aligned">
     <button class="ui submit button">Add Podcast</button>
  </div>