{{#each playlists}}
  <section class="ui segment">
    <h1 class="ui header">
      {{title}}
    </h1>
    <section class="ui container">
    <div class="ui grid">
      <div class="twelve wide column"><h3>Host: {{host}}</h3></div>
      <div class="four wide column"><h3>Genre: {{genre}}</h3></div>
  </div>
</section>    
    <a href="/playlist/{{id}}"> View </a>
  </section>
{{/each}}