  <table class="ui table">
  <thead>
    <tr>
      <th>Episode</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.episodes}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{host}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
