


<div class="ui centered cards">
  {{#each playlists}}
  
    <div class="ui card">
      <div class="ui centered image imgheight">
        <img src="{{picture}}" alt="{{title}}">
      </div>
      <div class="content">
        <p class="center aligned header">{{title}}</p>
        <p class="center aligned">
        </p>
            <i class="icon trash"></i>
        </div>
      </div>
  
  {{/each}}
</div>


