  <table class="ui fixed table">
  <thead>
    <tr>
      <th>Episode</th>
      <th>Duration</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.episodes}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/playlist/{{../playlist.id}}/deleteepisode/{{id}}" class="delepisode ui icon button" ><i class="trash icon"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
