<nav class="ui menu">
  <header class="ui header item"> <a href="/">The Podcast Organiser</a><img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2Fheadphones.jpg?1551902658658" class = "ui small right aligned fluid image" alt = "headphones"></header>
  
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

