<nav class="ui menu">
  <header class="ui header item"> <a href="/"> The Podcast Organiser </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Sign Up  </a>
    <a id="login" class="item" href="/login">  Log In   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>