{{> menu id="about"}}

<section class="ui center aligned middle aligned segment" id = "about">
  <p>
  <b>The Podcast Organiser</b>
  
  <br>  
  <br>This small app was developed by Lea-Anne Gaffney as a project for my Web App Development module for college.
  <br> I am a second year student in BSc in Information Technology in Waterford Institute of Technology 
</p>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20160.75261502349!2d-7.1771745286936195!3d52.248803493017654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1551204602240" width="500" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>