{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
  <b>The Podcast Organiser</b>
  
  <br>  
  <br>This small app was developed by Lea-Anne Gaffney as a project for my Web App Development module for college.
  <br> I am a second year student in BSc in Information Technology in Waterford Institute of Technology 
</p>
  <div>
    <img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2FScreen%20Shot%202019-02-21%20at%2012.06.04.png?1550750792916" class = "ui middle aligned large fluid image" alt = "WIT Location">
  </div>
</section>