{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
  The Podcast Organiser
    
  <br>This small app was developed by Lea-Anne Gaffney as a project for my Web App Development module for college.
  <br> I am a second year student in BSc in Information Technology in Waterford Institute of Technology 
</p>
</section>