{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
  A Little Playlist Maker - Version 1
    
  <br>This small app was developed by Lea-Anne Gaffney as part of my Web App Development module for college.
  <br> I am a second year student in Waterford Institute of Technology 
</p>
</section>