{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1>Welcome to the Podcast Organiser</h1>
  <p> Please feel free to Sign up or Log in... </p>
  <div class="ui equal width padded center aligned grid">
    <div class="column">
      <div class="ui raised segment">
      <div class="ui four small statistics">
        <div class="ui  green statistic">
          <div class="value">
            <i class="book icon"></i> {{totalcollections}}
          </div>
          <div class="white label">
            Collections
          </div>
        </div>
        <div class="ui blue statistic">
          <div class="value">
            <i class="bookmark icon"></i> {{totalbookmarks}}
          </div>
          <div class="label">
            Bookmarks
          </div>
        </div>
        <div class="ui red statistic">
          <div class="value">
            <i class="user icon"></i> {{totalusers}}
          </div>
          <div class="label">
            Users
          </div>
        </div>
        <div class="ui yellow statistic">
          <div class="value">
            <i class="star icon"></i> {{totalcomments}}
          </div>
          <div class="label">
            Comments
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <div class="column">
    <div class="ui raised segment">
    <img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2FListening-to-Podcast-MGR-Blog.jpg?1550749450506" class = "ui large fluid image" alt = "Woman listening to podcast">
  </div>
          </div>
  </div>
</section>