{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Playlist 1
  </h1>
  <p>
    This is  small app to lets you compose playlists.<br>
    
    <br>Each playlist contains the song name, artist name, song duration and genre.<br> 
    
    <br>It is a very handy app if you are a big music fan!!
  </p>
</section>