{{> menu}}

<section class="ui center aligned middle aligned segment" id = "welcome">
  <h1 class="ui header">
    Welcome to The Podcast Organiser
  </h1>
  <p>
    This is a small app to help you organise your podcasts into playlists.<br>
    
    <br>Each playlist contains the podcast name, author, duration and genre.<br> 
    
    <br>It is a very handy app if you are a big podcast fan!!
  </p>
  
  <div>
    <img src = "https://cdn.glitch.com/ba05c576-159c-48d7-a767-a88b04fb69fb%2Fthumbnails%2FListening-to-Podcast-MGR-Blog.jpg?1550749450506" class = "ui middle aligned large fluid image" alt = "Unicorn">
  </div>
</section>