.ui.menu
{
  background-color: #e6e6e6;
}

.ui.menu header a
{
  color: black;
}

.ui.menu .header.item a
{
  color: #ffad33;
}

.ui.menu .header.item a:hover
{
  color: black;
}

.ui.menu .right.menu a
{
  font-weight: bold;
}

.ui.menu .right.menu a:hover
{
  color: #ffad33;
}

#welcome
{
  background-color: #e6e6e6;
}

#welcome h1
{
  color: #ffad33;
}

#playlist
{
  background-color: #e6e6e6;
}

#about
{
  background-color: #e6e6e6;
}

#about b
{
  font-weight: bold;
  color: #ffad33;
  font-size: x-large;
}

.folder.open.icon, .trash.icon
{
  color: #ffad33;
}

.ui.fixed.table th
{
  background-color: #e6e6e6;
}

.ui.fixed.table tbody tr:hover
{
  background-color: #e6e6e6;
}

.ui.stacked.segment.form 
{
  background-color: #e6e6e6;
}

.ui.stacked.segment.form .ui.submit.button
{
  background-color: #ffad33;
}
