/*body
{
  background-color: #ffff99;
}*/

.ui.menu
{
  background-color: #ffffcc;
}

.ui.menu header a
{
  color: black;
}

.ui.menu header a:hover
{
  color: #196719;
}

.ui.menu .right-menu a:hover
{
  color: #196719;
}

#welcome
{
  background-color: #ffffcc;
}